<div class="container mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div *ngFor="let pokemon of pokemonList" class="col-md-4 col-sm-6">
          <mat-card (click)="goToPokemon(pokemon)" class="bg-white shadow-lg rounded-lg hover:bg-gray-100">
              <mat-card-header class="mx-auto flex-col">
                <mat-card-title class="flex justify-center">{{pokemon.name}}</mat-card-title>
                <p class="flex justify-center">
                  <img [src]="pokemon.picture" height="200px" alt="{{pokemon.name}}">
                </p>
              </mat-card-header>
              <mat-card-content>
                <p>ID : {{pokemon.id}}</p>
                <p>HP : {{pokemon.hp}}</p>
                <p>CP : {{pokemon.cp}}</p>
                <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{ type }}</span>
                <p>Créé : {{pokemon.created | date:"dd/MM/YYYY"}}</p>
              </mat-card-content>
            </mat-card>
      </div>
  </div>
</div>

  <button mat-fab color="green" aria-label="Add" routerLink="pokemon/add" [routerLink]="['/pokemon/add']" [routerLinkActive]="'active'" class="text-blue-500 cursor-pointer mr-4 mb-4" style="position: fixed; bottom: 25px; right: 25px;" >
    ➕
  </button>