<div class="flex justify-center items-center h-screen">
    <div class="w-full sm:w-1/2 lg:w-1/3">
      <mat-card class="hover:shadow-lg">
        <mat-card-content class="text-center">
          <h2 class="text-lg font-semibold">Page de connexion</h2>
          <p><em>{{message}}</em></p>
        </mat-card-content>
        <form #loginForm="ngForm">
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Nom</mat-label>
              <input matInput type="text" id="name" [(ngModel)]="name" name="name" required>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Mot de passe</mat-label>
              <input matInput type="password" id="password" [(ngModel)]="password" name="password" required>
            </mat-form-field>
          </div>
        </form>
        <div class="card-action text-center">
          <button mat-raised-button color="primary" (click)="login()" *ngIf="!auth.isLoggedIn">
            Se connecter
          </button>
          <a mat-button color="primary" (click)="logout()" *ngIf="auth.isLoggedIn">Se déconnecter</a>
        </div>
      </mat-card>
    </div>
  </div>
  