<div *ngIf="pokemon" class="flex justify-center items-center h-screen">
  <div class="max-w-md p-8 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold text-center mb-4">{{ pokemon.name }}</h2>
    <div class="flex justify-center mb-4">
      <img [src]="pokemon.picture" class="w-64 h-64 object-cover rounded" alt="{{ pokemon.name }}">
    </div>
    <table class="w-full mb-4">
      <tbody>
        <tr>
          <td class="font-bold">Nom</td>
          <td>{{ pokemon.name }}</td>
        </tr>
        <tr>
          <td class="font-bold">Points de vie</td>
          <td>{{ pokemon.hp }}</td>
        </tr>
        <tr>
          <td class="font-bold">Dégâts</td>
          <td>{{ pokemon.cp }}</td>
        </tr>
        <tr>
          <td class="font-bold">Types</td>
          <td>
            <span *ngFor="let type of pokemon.types" class="mr-2 px-2 py-1 rounded {{ type | pokemonTypeColor }}">{{ type }}</span>
          </td>
        </tr>
        <tr>
          <td class="font-bold">Date de création</td>
          <td>{{ pokemon.created | date:"dd/MM/yyyy" }}</td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-center">
      <a (click)="goToPokemonList()" class="mr-4 text-blue-500 cursor-pointer">Retour</a>
      <a (click)="goToEditPokemon(pokemon)" class="mr-4 text-blue-500 cursor-pointer">Éditer</a>
      <a (click)="deletePokemon(pokemon)" class="text-red-500 cursor-pointer">Supprimer</a>
    </div>
  </div>
</div>
<div *ngIf='!pokemon'><app-loader></app-loader></div>